.history

*.log
*.tmp

##
## BACKEND
##

# Python virtual environment
backend/.venv/

# Environment variables
backend/.env

# Python cache files
backend/__pycache__/
backend/utils/__pycache__/
backend/agents/__pycache__/   # added for agents cache
backend/*.pyc
backend/*.pyo
backend/*.pyd
backend/*.py[cod]
backend/dist/
backend/build/
backend/*.egg
backend/*.egg-info/

# VS Code
.vscode/

## FRONTEND
frontend/node_modules/
frontend/dist/
frontend/.env

# OS / editor files
.DS_Store
Thumbs.db
