# History / logs / temp
.history
*.log
*.tmp

##
## BACKEND
##

# Python virtual environment
backend/.venv/

# Environment variables
backend/.env

# Python cache files
backend/__pycache__/
backend/utils/__pycache__/
backend/agents/__pycache__/
backend/*.pyc
backend/*.pyo
backend/*.pyd
backend/*.py[cod]
backend/dist/
backend/build/
backend/*.egg
backend/*.egg-info/

# VS Code settings
.vscode/

##
## FRONTEND
##

# Node modules & build output
frontend/node_modules/
frontend/dist/

# Environment variables
frontend/.env

# OS / editor files
.DS_Store
Thumbs.db